<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.project.test26.service.CountryMapper">
	<!-- 셀렉트 쿼리 -->
	<select id="selectCountryList" resultType="ksmart.project.test26.service.Country">
		select country_id as
		countryId
		,country_name as countryName
		from test.country
	</select>

	<!-- update 쿼리 -->
	<update id="updateCountry" parameterType="ksmart.project.test26.service.Country">
		UPDATE country
		SET
		country_name = #{countryName}
		where country_id = #{countryId}

	</update>

	<!-- country one select -->
	<select id="selectOneCountry" resultType="ksmart.project.test26.service.Country"
		parameterType="int">
		select
		country_id as countryId,
		country_name as
		countryName
		from country
		where country_id=#{countryId}

	</select>

	<!-- insert -->
	<insert id="insertCountry" parameterType="ksmart.project.test26.service.Country">
		insert into country
		(country_name)
		values (#{countryName})
	</insert>

	<!-- delete -->
	<delete id="deleteCountry" parameterType="ksmart.project.test26.service.Country">
		delete from country
		where country_id = #{countryId}
	</delete>
</mapper>