<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.project.test26.book.service.BookMapper">

	<!-- BookAndBookFile 리스트값 파라미터로받기 -->
	<resultMap 	type="ksmart.project.test26.book.service.BookAndBookFile" 
				id="BookAndBookFileMap">
		<id column="book_id" property="bookId"/>
		<result column="book_name" property="bookName"/>
		<collection property="list" ofType="ksmart.project.test26.book.service.BookFile">
			<id column="book_file_id" property="bookFileId"/>
			<result column="file_name" property="fileName"/>
			<result column="file_ext" property="fileExt"/>
			<result column="file_size" property="fileSize"/>
		</collection>
	</resultMap>
	
	<!-- Book JOIN BookFile 조인쿼리문 -->
	<select id="selectBookAndBookFile"
			parameterType="int"
			resultMap="BookAndBookFileMap">
		SELECT
				b.book_id,
				b.book_name,
				f.book_file_id,
				f.file_name,
				f.file_ext,
				f.file_size
		FROM 	book b
		INNER JOIN 
				book_file f
		ON 		b.book_id = f.book_id
		WHERE 	b.book_id = #{bookId}
	</select>
	
	<!-- 페이징+검색 쿼리문 -->
	<select id="selectListByPerPage"
			parameterType="java.util.Map"
			resultType="ksmart.project.test26.book.service.Book">
		SELECT 	book_id as bookId, 
	  			book_name as bookName
		FROM book
		WHERE book_name
		<if test="SearchWord != null">
			LIKE CONCAT('%',#{SearchWord},'%')
		</if>
		
		ORDER BY bookId DESC
		LIMIT 	#{startRow},
				#{rowPerPage}
		
	</select>
	
	<!-- Book 전체 갯수 & 검색한 갯수 쿼리문 -->
	<select id="selectTotalCount" 
			parameterType="java.lang.String"
			resultType="Integer">
		SELECT COUNT(*) 
		FROM book 
		WHERE book_name
		<if test="_parameter!=null">
			LIKE CONCAT('%',#{SearchWord},'%')
		</if>
	</select>
	
	<!-- Book 리스트 조회하는 쿼리문 -->
	<select id="selectBookList"
  			resultType="ksmart.project.test26.book.service.Book">  			
		SELECT
			book_id as bookId,
			book_name as bookName
		FROM book
 	
	</select>
	
	<!-- Book 한 권 수정하는 쿼리문 -->
	<update id="updateBook"
 			parameterType="ksmart.project.test26.book.service.Book">
	 	UPDATE	book 
	 	SET		book_name = #{bookName} 
		WHERE 	book_id = #{bookId}

	</update>
  
	<!-- Book 한 권 조회하는 쿼리문 -->
	<select id="selectBookOne"
  			resultType="ksmart.project.test26.book.service.Book"
  			parameterType="int">
		SELECT
			book_id as bookId,
			book_name as bookName
		FROM book
		WHERE book_id=#{bookId}

	</select>
	
	<!-- Book 입력하기 위한 쿼리문 -->
	<insert id="insertBook"
  			parameterType="ksmart.project.test26.book.service.Book">
	 	INSERT INTO 
	 		book (book_name) 
		VALUES (#{bookName})
		
	</insert>
	
	<!-- 마지막으로 입력된 ID값 조회 쿼리문 -->
	<select id="selectLastId" resultType="Integer">
        	SELECT LAST_INSERT_ID()
    </select>
	
	<!--  Book 파일입력 쿼리문 -->
	<insert id="insertBookFile"
  			parameterType="ksmart.project.test26.book.service.BookFile">
		INSERT INTO 
		 	book_file (	book_id, 
		 				file_name, 
		 				file_ext, 
		 				file_size	) 
			VALUES (	#{bookId},
						#{fileName},
						#{fileExt},
						#{fileSize}	)
	</insert>
	
	<!-- Book 삭제 쿼리문 -->
	<delete id="deleteBook"
  			parameterType="ksmart.project.test26.book.service.Book">
	 	 DELETE FROM book 
	 	 WHERE  book_id = #{bookId}
	</delete>
</mapper>