<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.project.test26.city.service.CityMapper">
	<!-- 도시리스트 조회 -->
	<select id="selectCityList" resultType="ksmart.project.test26.city.service.City">
		SELECT
			city_id as cityId
			,city_name as cityName
		FROM test.city
	</select>
	
	<!-- 도시추가 쿼리문 -->
	<insert id="insertCity" parameterType="ksmart.project.test26.city.service.City">
		INSERT INTO 
			test.city(city_name) 
		VALUES (#{cityName})	
	</insert>
	
	<!-- 도시 수정쿼리문 -->
	<update id="updateCity" parameterType="ksmart.project.test26.city.service.City">
		UPDATE test.city SET 
			city_name= #{cityName}
		WHERE city_id = #{cityId}	
	</update>
	
	<!-- 도시하나 조회하는 select쿼리문 -->
	<select id="selectCityOne" parameterType="int" resultType="ksmart.project.test26.city.service.City">
		SELECT
			city_id as cityId,
			city_name as cityName
		FROM test.city
		WHERE city_id=#{cityId}
	</select>
	
	<!-- 도시 삭제쿼리문 -->
	<delete id="deleteCity" parameterType="int">
		DELETE 
		FROM test.city 
		WHERE city_id = #{cityId}
	</delete>
	
	<!-- 현재 페이지에 맞는 리스트 조회 -->
	<select id="selectListByPerPage" parameterType="java.util.Map" resultType="ksmart.project.test26.city.service.City">
		SELECT 
			city_id as cityId
			,city_name as cityName
		FROM test.city
		ORDER BY city_id DESC
		LIMIT #{startRow},#{rowPerPage}
	</select>
	
	<!-- 총 행의 개수 -->
	<select id="selectTotalCount" resultType="Integer">
		SELECT COUNT(*)
		FROM test.city
	</select> 
</mapper>

