<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.project.test26.movie.service.MovieMapper">
	<!-- MovieFile 맵 -->
	<resultMap type="ksmart.project.test26.movie.service.MovieFile" id="SelectMovieFileMap">
		<id column="movie_file_id" property="movieFileId"/>
		<result column="movie_id" property="movieId"/>
		<result column="file_name" property="fileName"/>
		<result column="file_ext" property="fileExt"/>
		<result column="file_size" property="fileSize"/>
	</resultMap>
	
	<!-- MovieAndMovieFile 맵 -->
	<resultMap type="ksmart.project.test26.movie.service.MovieAndMovieFile"
			   id="MovieJoinMovieFileMap">
			   <id column="movie_id" property="movieId"/>
			   <result column="movie_name" property="movieName"/>
			   <collection property="list" ofType="ksmart.project.test26.movie.service.MovieFile">
			   		<id column="movie_file_id" property="movieFileId"/>
			   		<result column="file_name" property="fileName"/>
			   		<result column="file_ext" property="fileExt"/>
			   		<result column="file_size" property="fileSize"/>
			   </collection>
	</resultMap>
	
	

	<select id="selectMovieFileByMovieId"  parameterType="Integer" resultMap="SelectMovieFileMap">
		SELECT 
			movie_file_id
			,movie_id
			,file_name
			,file_ext
			,file_size
		FROM test.movie_file
		WHERE movie_id = #{id}
	</select>

	<delete id="deleteMovieFile" parameterType="Integer">
		DELETE 
		FROM test.movie_file
		WHERE movie_id = #{id}
	</delete>

	<!-- movie테이블 기본키를 참조해 movie_file 테이블 조회 -->
	<select id="selectMovieAndMovieFile" parameterType="Integer"  resultMap="MovieJoinMovieFileMap">
		SELECT
			m.movie_id
			,m.movie_name
			,mf.movie_file_id
			,mf.file_name
			,mf.file_ext
			,mf.file_size
		FROM test.movie m INNER JOIN test.movie_file mf
		ON m.movie_id = mf.movie_id
		WHERE m.movie_id = #{id}
	</select>
	<!-- 마지막으로 입력한 키값 조회 -->
	<select id="selectLastId" resultType="Integer">
		SELECT LAST_INSERT_ID();
	</select>
	
	<!-- movieFile 테이블 컬럼 입력을 위한 쿼리문 -->
	<insert id="insertMovieFile" parameterType="ksmart.project.test26.movie.service.MovieFile">
		INSERT INTO 
			test.movie_file (movie_id, file_name, file_ext, file_size)
		VALUES (#{movieId},#{fileName},#{fileExt},#{fileSize});
	</insert>
	
	<!-- movie 테이블 전체 컬럼 리스트 출력을 위한 쿼리문 -->
	<select id="selectMovieList" resultType="ksmart.project.test26.movie.service.Movie">
		SELECT
			movie_id as movieId
			,movie_name as movieName
		FROM test.movie
	</select>
	
	<!-- movie 테이블 컬럼 입력을 위한 쿼리문 -->
	<insert id="insertMovie" parameterType="ksmart.project.test26.movie.service.Movie">
		INSERT INTO 
			test.movie (movie_name) 
		VALUES (#{movieName})
	</insert>
	
	<!-- 조건에 맞는 movie 테이블 컬럼 하나를 가져오기 위한 쿼리문 -->
	<select id="selectMovieOne" parameterType="ksmart.project.test26.movie.service.Movie" 
		resultType="ksmart.project.test26.movie.service.Movie">
		SELECT 
			movie_id as movieId
			,movie_name as movieName
		FROM test.movie	
		WHERE movie_id = #{movieId}
	</select>
	
	<!-- 조건에 맞는 movie 테이블의 컬럼 수정을 위한 쿼리문 -->
	<update id="updateMovie" parameterType="ksmart.project.test26.movie.service.Movie">
		UPDATE test.movie SET
			movie_name = #{movieName}
		WHERE movie_id = #{movieId}
	</update>
	
	<!-- 조건에 맞는 movie 테이블의 컬럼 삭제를 위한 쿼리문 -->
	<delete id="deleteMovie" parameterType="Integer">
		DELETE 
		FROM test.movie
		WHERE movie_id = #{movieId}	
	</delete>
	
	<!-- 현재 페이지에 맞는 리스트 조회 -->
	<select id="selectListByPerPage" parameterType="java.util.Map" resultType="ksmart.project.test26.movie.service.Movie">
		SELECT 
			movie_id as movieId
			,movie_name as movieName
		FROM test.movie
		<if test="searchWord!=null">
			WHERE movie_name LIKE CONCAT('%',#{searchWord},'%')
		</if>
		ORDER BY movie_id DESC
		LIMIT #{startRow},#{rowPerPage}
	</select>
	
	<!-- 총 행 또는 검색 행의 개수 -->
	<select id="selectTotalCount" parameterType="java.lang.String" resultType="Integer">
		SELECT COUNT(*) as count
		FROM test.movie
		<if test="_parameter!=null">
			WHERE movie_name LIKE CONCAT('%',#{searchWord},'%')
		</if>
	</select> 
</mapper>