<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.project.test26.country.service.CountryMapper">

	<!-- 셀렉트 쿼리 -->
	<select id="selectCountryList" resultType="ksmart.project.test26.country.service.Country">
		SELECT
		country_id as
		countryId,
		country_name as countryName
		FROM test.country
	</select>
	
	<!-- update 쿼리 -->
	<update id="updateCountry" parameterType="ksmart.project.test26.country.service.Country">
		UPDATE country
		SET
		country_name = #{countryName}
		WHERE country_id = #{countryId}
	</update>
	
	<!-- country one select 쿼리문 -->
	<select id="selectOneCountry" resultType="ksmart.project.test26.country.service.Country" parameterType="int">
		SELECT
		country_id as countryId,
		country_name as countryName
		FROM country
		WHERE country_id=#{countryId}
	</select>
	
<!-- 	
	countryFile one select 쿼리문
	<select id="selectOneCountryFile" resultType="ksmart.project.test26.country.service.CountryFile" parameterType="int">
		SELECT
		country_file_id as countryFileId,
		country_id as countryId,
		file_name as FileName,
		file_ext as FileExt,
		file_size as FileSize
		FROM country_file
		WHERE country_file_id=#{countryFileId}
	</select> 
-->
	
	<!-- 등록국가 delete 쿼리문 -->
	<delete id="deleteCountry" parameterType="int">
		DELETE FROM country
		WHERE country_id = #{countryId}
	</delete>
	
<!-- 	
	업로드 파일 삭제 delete 쿼리문
	<delete id="deleteCountryFile" parameterType="ksmart.project.test26.country.service.CountryFile">
		DELETE FROM country_file 
		WHERE country_file_id = #{countryFileId}
	</delete>
-->
	 
	<!-- insert 쿼리문 -->
	<insert id="insertCountry" parameterType="ksmart.project.test26.country.service.Country">
		INSERT INTO
		country(country_name)
		VALUES (#{countryName})
	</insert>

	<!-- 총 페이지 개수 -->
	<select id="selectTotalCount" parameterType="java.lang.String"
		resultType="Integer">
		SELECT COUNT(*) as count
		FROM test.country
		<if test="_parameter!=null">
			WHERE country_name LIKE CONCAT('%',#{searchWord},'%')
		</if>
	</select>

	<!-- 현재 페이지에 맞는 리스트 셀렉트 -->
	<select id="selectListByPerPage" parameterType="java.util.Map"
		resultType="ksmart.project.test26.country.service.Country">
		SELECT
		country_id as countryId,
		country_name as countryName
		FROM
		test.country
		<if test="searchWord != null">
			WHERE country_name LIKE CONCAT('%',#{searchWord},'%')
		</if>
		ORDER BY country_id DESC
		LIMIT #{startRow},#{rowPerPage}
		<!-- 시작행, 보여줄 행의 수 -->
	</select>

	<select id="selectLastId" resultType="Integer">
		SELECT LAST_INSERT_iD();
	</select>
	
	<insert id="insertCountryFile" parameterType="ksmart.project.test26.country.service.CountryFile">
		INSERT INTO
		test.country_file (country_id, file_name, file_ext, file_size)
		VALUES
		(#{countryId},#{fileName},#{fileExt},#{fileSize});
	</insert>
 	
	 <resultMap type="ksmart.project.test26.country.service.CountryAndCountryFile"
		id="CountryAndCountryFileMap">
		<id column="country_id" property="countryId" />
		<result column="country_name" property="countryName" />
		<collection 
			property="list" 
			ofType="ksmart.project.test26.country.service.CountryFile">
			<id column="country_file_id" property="countryFileId"/>
			<result column="file_name" property="fileName"/>
			<result column="file_ext" property="fileExt"/>
			<result column="file_size" property="fileSize"/>
		</collection>
	</resultMap>

	<select id="selectCountryAndCountryFile" parameterType="Integer" resultMap="CountryAndCountryFileMap">
		SELECT
		c.country_id, c.country_name, cf.country_file_id, cf.file_name, cf.file_ext, cf.file_size
		FROM
		country c INNER JOIN country_file cf ON c.country_id = cf.country_id
		WHERE
		c.country_id = #{id}
	</select>
	
	<!-- MovieFile 맵 -->
	<resultMap type="ksmart.project.test26.country.service.CountryFile" id="SelectCountryFileMap">
		<id column="country_file_id" property="countryFileId" />
		<result column="country_id" property="countryId" />
		<result column="file_name" property="fileName" />
		<result column="file_ext" property="fileExt" />
		<result column="file_size" property="fileSize" />
	</resultMap>
	
	<select id="selectCountryFileByCountryId"  parameterType="Integer" resultMap="SelectCountryFileMap">
		SELECT 
 			country_file_id
 			,country_id
 			,file_name
 			,file_ext
 			,file_size
 		FROM test.country_file
 		WHERE country_id = #{id}
 	</select>
 
 	<delete id="deleteCountryFile" parameterType="Integer">
 		DELETE 
 		FROM test.country_file
 		WHERE country_id = #{id}
 	</delete>
	
</mapper>