<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.project.test26.country.service.CountryMapper">
	<!-- 셀렉트 쿼리 -->
	<select id="selectCountryList" resultType="ksmart.project.test26.country.service.Country">
		SELECT
		country_id as
		countryId,
		country_name as countryName
		FROM test.country
	</select>
	<!-- update 쿼리 -->
	<update id="updateCountry" parameterType="ksmart.project.test26.country.service.Country">
		UPDATE country
		SET
		country_name = #{countryName}
		WHERE country_id = #{countryId}
	</update>
	<!-- country one select 쿼리문 -->
	<select id="selectOneCountry" resultType="ksmart.project.test26.country.service.Country"
		parameterType="int">
		SELECT
		country_id as countryId,
		country_name as
		countryName
		FROM country
		WHERE country_id=#{countryId}
	</select>
	<!-- delete 쿼리문 -->
	<delete id="deleteCountry" parameterType="ksmart.project.test26.country.service.Country">
		DELETE FROM country
		WHERE country_id = #{countryId}
	</delete>
	<!-- insert 쿼리문 -->
	<insert id="insertCountry" parameterType="ksmart.project.test26.country.service.Country">
		INSERT INTO
		country(country_name)
		VALUES (#{countryName})
	</insert>

	<!-- 총 페이지 개수 -->
	<select id="selectTotalCount" parameterType="java.lang.String" resultType="Integer">
	SELECT COUNT(*) as count
		FROM test.country
		<if test="_parameter!=null">
			WHERE country_name LIKE CONCAT('%',#{searchWord},'%')
		</if>
	</select>

	<!-- 현재 페이지에 맞는 리스트 셀렉트 -->
	<select id="selectListByPerPage" parameterType="java.util.Map"
		resultType="ksmart.project.test26.country.service.Country">
		SELECT
		country_id as countryId,
		country_name as countryName
		FROM
		test.country
		<if test="searchWord != null">
			WHERE country_name LIKE CONCAT('%',#{searchWord},'%')
		</if>
		ORDER BY country_id DESC
		LIMIT #{startRow},#{rowPerPage}
		<!-- 시작행, 보여줄 행의 수 -->
	</select>
</mapper>